@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {
    background-color: white;
    color: black;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}

div#interface {
    width: 1785px;
    height: auto;
    background-color: #dddddd;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 4px rgba(00, 00, 00, 0.4);
    padding: 10px;
}

header#cabecalho img#icone {
    position: absolute;
    left: 1632px;
    top: 40px;
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 130px;
    background: url(../_imagens/glass-logo-peq-removebg-preview.png) no-repeat 0px 80px;
}

header#cabecalho h1 {
    font-family: 'FonteLogo', Helvetica, sans-serif;
    font-size: 30px;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(00, 00, 00, .6);
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: #606060;
    margin-top: 3px;
}

p {
    text-align: justify;
    text-indent: 50px;
}


/* FORMATAÇÃO DE IMAGENS. */

figure.foto-legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(00, 00, 00, .4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
    text-align: center;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}


/* FORMATAÇÃO DO MENU. */

nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 1000px;
}

nav#menu li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 2px;
    transition: background-color .5s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: black;
    text-decoration: none;
}

nav#menu a:hover {
    color: hsl(163, 26%, 95%);
}


/* Tratamento de tela. */

section#corpo {
    display: block;
    width: 1000px;
    float: left;
    border-right: 1px #606060 solid;
    padding-right: 15px;
    padding-bottom: 15px;
}

article#noticias-principais h2 {
    font-size: 22px;
    color: #e2dbdb;
    background-color: #606060;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

header#cabecalho-artigo h1 {
    font-family: 'FonteLogo';
    font-size: 40px;
    color: #606060;
    margin-bottom: 0px;
}

.direita {
    text-align: right;
}

header#cabecalho-artigo h3 {
    font-size: 16px;
}

aside#lateral {
    display: block;
    width: 750px;
    float: right;
    padding: auto;
    background-color: #c2bdbd;
    margin-top: 15px;
    box-shadow: 2px 2px 6px rgba(00, 00, 00, .6);
}

aside#lateral h1 {
    font-family: 'FonteLogo';
    font-size: 40px;
    color: #606060;
    margin-bottom: 0px;
    text-align: center;
}

aside#lateral h2 {
    font-size: 22px;
    color: #e2dbdb;
    background-color: #606060;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
    text-align: left;
}

footer#rodape {
    clear: both;
    border-top: 1px #606060 solid;
    padding-bottom: 15px;
}

footer#rodape p {
    text-align: center;
}


/* FORMATAÇÃO TABELA. */

table#tabela01 {
    background-color: #606060;
    border: 1px black solid;
    margin-left: auto;
    margin-right: auto;
}

table#tabela01 td {
    text-align: right;
    color: white;
    border-spacing: 0px;
    padding: 10px;
    vertical-align: middle;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
}

table#tabela01 caption {
    color: #606060;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

table#tabela01 td.cl {
    background-color: #606060;
}

table#tabela01 td.cr {
    background-color: #cecece;
}

table#tabela01 caption span {
    float: right;
    text-transform: lowercase;
    color: #606060;
}