@charset "UTF-8";
form {
    width: 600px;
    margin: auto;
}

input,textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 13pt;
    background-color: rgba(255, 255, 255, .4);
}

input:hover,textarea:hover {
    background-color: #cecece;
}

legend {
    color: #888888;
    font-weight: bold;
    font-size: 13pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

fieldset {
    border-color: #cecece;
    margin: 20px;
}

fieldset#sexo {
    width: 150px;
}

fieldset#usuario {
    background: url("../_imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#enderoco {
    background: url("../_imagens/icone-endereco.png") no-repeat 95% 95%;
}

fieldset#mensagem {
    background: url("../_imagens/icone-mensagem.png") no-repeat 95% 95%;
}

fieldset#pedido {
    background: url("../_imagens/icone-pagamento.png") no-repeat 95% 95%;
}